{% extends "home/header.html" %}>
<!-- Home slider -->
{% block content %}
{% load static %}

<div class="container-fluid">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">


        <h2 class="page_headers" style="padding-left: 15px;">Contact Us</h2>
        <p style="color: #12295d; padding-left: 15px;">We are here to answer any questions you may have about your
          Viodyne experience. Reach out to us and we'll respond to you as soon as we can.</p>
        <form role="form" action="" method="POST" style="margin-right: 0px;">
          {% csrf_token %}
          <div class="col-md-6">
            <div class="form-group">
              <label for="Name"><span style="color: #f70611;">* </span>Name</label>
              {{ form.NAME }}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="Company">Company</label>
              {{ form.COMPANY }}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="Telephone">Telephone</label>
              {{ form.TELEPHONE }}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="Email"><span style="color: #f70611;">* </span>Email</label>
              {{ form.EMAIL }}
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="Message"><span style="color: #f70611;">* </span>Message</label>
              {{ form.MESSAGE }}
            </div>
          </div>
          <!-- <hr class="colorgraph"> -->
          <div class="row">
            <!-- <div class="col-xs-12 col-md-12"> -->
              <div class="col-md-6 col-xs-12">
                <div class="google-captcha">
                  <img src="{% static 'images/google-captcha.png' %}">
                </div>
              </div>
              <div class="col-md-6 col-xs-12 viodyneBtnPrimery">
                <button type="submit" class="btn  bg_Gradient viodyneBtn maTop15">Send</button>
              </div>
            <!-- </div> -->
          </div>

          <div class="row top1">
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <div class="add">
                  <h4>Telephone</h4><br>
                  <div><img src={%static 'images/telusa.png'%} style="margin-right:10px;">
                    <span>+1 858 255 0415</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <div class="add">
                  <h4>Address</h4><br>
                  <p>1430 S. Grand Ave., #283<br> Glendora , CA 91740 USA</p>
                </div>
              </div>
          
            </div>
        </form>
      </div>
   
    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
      <div class="map_1">
        <div id="map_wrapper" style=" height: 400px;">
          <div id="map" style=" width: 100%; height: 100%;">
          </div>
        </div>
      </div>
    </div>

  </div>
 
  </div>
  <!-- <div class="container top1"> -->
    
    <!-- </div> -->
</div>

{% endblock %}