{% extends "home/header.html" %}>
      <!-- Home slider -->
      {% block content %}
      {% load static %}

<div class="container-fluid">
	<div class="container">
		<div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">

					<h2 class="page_headers">Contact Us</h2>
					<p style="color: #12295d;">We are here to answer any questions you may have about your Viodyne experience. Reach out to us and we'll respond to you as soon as we can.</p>
          <form role="form" action="" method="POST">
           {% csrf_token %}
           <div class="col-md-6">
             <div class="form-group">
               <label for="Name"><span style="color: #f70611;">* </span>NAME:</label>
               {{ form.NAME }}
                </div>
                 </div>
           <div class="col-md-6">
             <div class="form-group">
               <label for="Company">COMPANY:</label>
               {{ form.COMPANY }}
               </div>
               </div>
           <div class="col-md-6">
             <div class="form-group">
               <label for="Telephone">TELEPHONE:</label>
               {{ form.TELEPHONE }}
               </div>
               </div>
           <div class="col-md-6">
             <div class="form-group">
               <label for="Email"><span style="color: #f70611;">* </span>EMAIL:</label>
               {{ form.EMAIL }}
               </div>
               </div>
           <div class="col-md-12">
             <div class="form-group">
               <label for="Message"><span style="color: #f70611;">* </span>MESSAGE:</label>
               {{ form.MESSAGE }}
               </div>
              </div>

              <div class="col-md-12">
              <div class="col-md-7">

              </div>

              <div class="col-md-5">
                <div class="form-group">
      						<input type="submit" class="btn btn btn-success btn-block bg_Gradient" name="Send" value="SEND">

                </div>
                </div>

              </form>
      </div>
      </div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<div class="map_1">
					<div id="map_wrapper" style=" height: 400px;">
                    	<div id="map" style=" width: 100%; height: 100%;">
                    	</div>
                	</div>
				</div>
			</div>

		</div>
	</div>


	<div class="container top1">
		<div class="row">
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="add">
					<h4>Telephone</h4>
					<img src={%static 'images/telusa.png'%}>
					<h5>+1 858 255 0415</h5>
				</div>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="add">
					<h4>Address</h4>
					<p>1430 S. Grand Ave., #283<br> Glendora , CA 91740 USA</p>
				</div>
			</div>

			</div>
		</div>
	</div>

</div>

{% endblock %}
