
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% block title %}<title>Home</title>{% endblock %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body>
    <header>
      <div class="top-header">
        <div class="container-fluid">
          <div class="col-md-12">
            <div class="col-md-4">
              <div class="logo">
                {% load static %}
                <a href="/"><img src="{% static 'images/viodyne_logo.png' %} ">
              </div>
            </div>
            <div class="col-md-4 col-sm-4  col-xs-12">
              <div class="input-group divsearch">
                <input type="text" class="form-control" placeholder="Search" name="q" id="searchTxt">
                <div class="input-group-btn">
                  <a class="btn btn-default bg_Gradient" id="searchBtn" href="/ProductList/Products?key="><i class="glyphicon glyphicon-search"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 cart_div">
              <div class="cart_bt">
                <p>Become a Distributor <br> Join Our Team</p>
                <a href="/Cart/Quote_View" id="navToggleCart"><span class="badge" id="navTotal" ></span><span class="glyphicon glyphicon-shopping-cart"></span> Quote Request Cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-header">
        <nav class="navbar navbar-inverse bg_Gradient">
          <div class="container-fluid">
            <div class="col-md-12">
              <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>

              </div>

              <div class="collapse navbar-collapse js-navbar-collapse">
                <ul class="nav navbar-nav MoNavber">
                  <li>
                    <a href={% url 'index' %}>Home</a>
                  </li>
                  <li>
                    <div class="dropdown">
                      <a href={% url 'aboutus' %}>About Us <span class="caret"></span></a>
                      <div class="dropdown-content">
                         
                      <a href="#"><img src="{% static 'images/CompanyOverview.jpg' %} "><p class="content_p">Company Overview</p></a>
                      <a href="#"><img src="{% static 'images/CompanyOverview.jpg' %} "><p class="content_p">Quality Management System</p></a>
                      <a href="#"><img src="{% static 'images/CompanyOverview.jpg' %} "><p class="content_p">Our Mission</p></a>
                      <a href="#"><img src="{% static 'images/CompanyOverview.jpg' %} "><p class="content_p">Our Vision</p></a>
                      <a href="#"><img src="{% static 'images/CompanyOverview.jpg' %} "><p class="content_p">Testimonials</p></a>
                      
                      <i class="fa fa-close sac"></i>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="dropdown1">
                      <a href={% url 'products' %}>Products <span class="caret"></span></a>
                      <div class="dropdown1-content">
                      
                      <div class="container-fluid">
                        <div class="row">
                            <h2 class="dubey">Products Overview</h2>
                            <div class="fafa">
                                <i class="fa fa-angle-left border1"></i>
                                <i class="fa fa-angle-right border2"></i>
                                <i class="fa fa-close border3"></i>
                              </div>   
                          <div class="col-md-5">
                              <div class="col-md-6">
                                  <div class="body_text">
                                      <img src="{% static 'images/body.jpg' %}" alt="">
                                       <span>Body Cooling and Heating ></span>
                                  </div>
                                  <div class="body_text">
                                      <img src="{% static 'images/body.jpg' %}" alt="">
                                      <span>Low Vision Assistive Technology ></span>
                                  </div>
                                  <div class="body_text">
                                      <img src="{% static 'images/body.jpg' %}" alt="">
                                      <span> Medical Equipment ></span>
                                  </div>
                                  <div class="body_text">
                                      <img src="{% static 'images/body.jpg' %}" alt="">
                                      <span>Rapid Diagnostic Tests ></span>
                                  </div>
                                  
                                </div>

                              <div class="col-md-6">
                                  <div class="body_text">
                                      <img src="{% static 'images/body.jpg' %}" alt="">
                                      <span> Smart Glasses ></span>
                                  </div>
                                  <div class="body_text">
                                      <img src="{% static 'images/body.jpg' %}" alt="">
                                      <span>Sterile Processing Supplies ></span>
                                  </div>
                                  <div class="body_text">
                                      <img src="{% static 'images/body.jpg' %}" alt="">
                                      <span>Surgical Instruments ></span>
                                  </div>
                                  <div class="body_text">
                                      <img src="{% static 'images/body.jpg' %}" alt="">
                                      <span> Surgical Sutures ></span>
                                  </div>
                              </div>
                          </div>
                          
                          
                          <div class="col-md-7">
                            <div class="">
                             
                                
                               
                                  
                                    <div class="col-md-3 img_1">
                                        <a href="#"><img src="{% static 'images/body.jpg' %} "><p class="content_text1">Body Cooling and Heating</p></a>
                                    </div>
                                    <div class="col-md-3 img_1">
                                        <a href="#"><img src="{% static 'images/Low_Vision_Assistive_Technology.png' %} "><p class="content_text1">Low Vision Assistive Technology</p></a>
                                    </div>
                                    <div class="col-md-3 img_1">
                                        <a href="#"><img src="{% static 'images/Medical_Devices.png' %} "><p class="content_text1">Medical Equipment</p></a>
                                    </div>
                                    <div class="col-md-3 img_1">
                                        <a href="#"><img src="{% static 'images/OperatingSuite.jpg' %} "><p class="content_text1">Rapid Diagnostic Tests</p></a>  
                                    </div>
                                                         
                            </div>
                            <div class="">
                                <div class="col-md-3 img_1">
                                    <a href="#"><img src="{% static 'images/OperatingSuite.jpg' %} "><p class="content_text1">Smart Glasses</p></a>
                                </div>
                                <div class="col-md-3 img_1">
                                    <a href="#"><img src="{% static 'images/Sterile_Processing_Supplies.png' %} "><p class="content_text1">Sterile Processing Supplies</p></a>
                                </div>
                                <div class="col-md-3 img_1">
                                    <a href="#"><img src="{% static 'images/OperatingSuite.jpg' %} "><p class="content_text1">Surgical Instruments</p></a>
                                </div>
                                <div class="col-md-3 img_1">
                                    <a href="#"><img src="{% static 'images/OperatingSuite.jpg' %} "><p class="content_text1">Surgical Sutures</p></a>  
                                </div>
                            </div>
                          </div>
                        </div>
                            <div class="row ">
                              
                            </div>
                          
                        
                      </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="dropdown">
                      <a href="#">Specialties <span class="caret"></span></a>
                      <div class="dropdown-content">
                          <a href="#"><img src="{% static 'images/CompanyOverview.jpg' %} "><p class="content_p">Central Sterile Supply</p></a>
                          <a href="#"><img src="{% static 'images/CompanyOverview.jpg' %} "><p class="content_p">Logistics and Storage</p></a>
                          <a href="#"><img src="{% static 'images/CompanyOverview.jpg' %} "><p class="content_p">Operating Suite</p></a>
                          <a href="#"><img src="{% static 'images/CompanyOverview.jpg' %} "><p class="content_p">Ophthalmology</p></a>
                          <a href="#"><img src="{% static 'images/CompanyOverview.jpg' %} "><p class="content_p1">Sports Therapy <br>and Performace</p></a>
                          
                          <i class="fa fa-close sac"></i>
                      </div>
                    </div>

                  </li>
                  <li>
                    <a href="#">Knowledge Library</a>
                  </li>
                  <li>
                    <div class="dropdown2">
                      <a href={% url 'joinus' %}>Join Our Network <span class="caret"></span></a>
                      <div class="dropdown2-content">
                      
                      <div class="container-fluid">
                        <div class="fafa1">
                          <i class="fa fa-close border3"></i>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="jus">
                            <a href="#"><img src="{% static 'images/Become_a_CSSD_Distributor.png' %} "></a>
                            <span>Become a Viodyne Sterile Processing <br>Supplies Distributor</span>
                          </div>
                        </div>
                        
                          <div class="col-md-6">
                              <div class="jus1">
                            <a href="#"><img src="{% static 'images/JoinOurTeam.jpg' %} "></a>
                            <span>Join Our Team</span>
                          </div>
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a href={% url 'contactus' %}>Contact Us</a>
                  </li>

                </ul>
                </div><!-- /.nav-collapse -->
              </div>
            </div>
          </nav>
        </div>
      </header>
      {% block content %}
      {% endblock %}
      <div class="footer">
        <div class="top-footer">
          <div class="container">
          <div class="col-md-12">
          <div class="col-sm-3 col-xs-6 col-md-3 ">
              <div class="footer_each_colom footer_Links">
                <h5>About Us</h5>
                  <a href={% url 'aboutus' %}>Company Overview </a>
                  <a href="#">Quality Management System </a>
                  <a href="#">Our Mission </a>
                  <a href="#">Our Vision </a>
                  <a href="#">Testimonials </a>
              </div>
          </div>
          <div class="col-sm-3 col-xs-6 col-md-3 ">
            <div class="footer_each_colom footer_Links">
              <h5>Products</h5>
                <a href="#">Body Cooling and Heating</a>
                <a href="#">Medical Equipment</a>
                <a href="#">Sterile Processing Supplies</a>
                <a href="#">Surgical Instruments</a>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 col-md-3 social-link">

           <h5>Visit Us</h5>
            <ul class="social">
              <li>
                <a href="https://www.facebook.com/viodyne" target="_blank"><img class="soc icon" title="Facebook" src="{% static 'images/LogoFacebook.png' %}"></a>
                <a title="Facebook" href="https://www.facebook.com/viodyne" target="_blank">Facebook</a>
              </li>

              <li>
                <a href="https://www.pinterest.com/viodyne/" target="_blank"><img class="soc icon" title="Pinterest" src="{% static 'images/LogoPinterest.png' %}"></a>
                <a title="Pinterest" href="https://www.pinterest.com/viodyne/" target="_blank">Pinterest</a>
              </li>

              <li>
                <a href="https://twitter.com/Viodyne" target="_blank"><img class="soc icon" title="Twitter" src="{% static 'images/LogoTwitter.png' %}"></a>
                <a title="Twitter" href="https://twitter.com/Viodyne" target="_blank">Twitter</a>
              </li>

               <li style="margin-left:20px;">
                <a href="https://www.linkedin.com/company/viodyne" target="_blank"><img class="soc icon" title="LinkedIn" src="{% static 'images/LogoLinkedlin.png' %}"></a>
                <a title="LinkedIn" href="https://www.linkedin.com/company/viodyne" target="_blank">LinkedIn </a>
              </li>

              <li>
                <a href="https://www.youtube.com/c/Viodyne" target="_blank"><img class="soc icon" title="YouTube" src="{% static 'images/LogoYouTube.png' %}"></a>
                <a title="YouTube" href="https://www.youtube.com/c/Viodyne" target="_blank">YouTube</a>
              </li>

            </ul>
          </div>

          <div class="col-sm-3 col-xs-6 col-md-3 ">
            <div class="footer_each_colom footer_Links LastMenu">
              <h5>Join Our Team</h5>
                <a href={% url 'joinus' %}>Join Us Form</a>
               <h5>Contact Us</h5>
                <a href={% url 'contactus' %}>Contact Form</a>
                 <a href="#">Contact Numbers</a>
            </div>
          </div>
          </div>
          </div>
          </div>
          <div class="backtotop bg_Gradient">
            <a href="#">Back to Top</a>
        </div>

          <div id="footer_bottom">
            <div class="container">
              <div class="termUse">
                  <a href="#">Privacy Policy</a>
                  <a href="#">Terms of Use</a>
              </div>
            <div class="copyright">
              <span class="footer_text">Copyright © 2014 - 2019 Viodyne.  All Rights Reserved.  Viodyne™ and the Viodyne Logo are trademarks of Viodyne.</span>
            </div>
          </div>


        </div>
      </div>
       <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="{% static 'js/viodyne.js' %}"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      
      	<script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRftvH1Qoqh_qQvRZt_3VtZ__5o20MkfE&callback=initMap">
      </script>
      <script type="text/javascript">

          function initMap() {
              var center = { lat: 28.4832119, lng: -33.4590338 };
              var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 2,
                  center: center
              });
              var marker = new google.maps.Marker({
                  position: { lat: 24.742460, lng: 46.644594},
                  map: map,
                  title: 'Saudi Arabia'
              });

              var beachMarker = new google.maps.Marker({
                  position: { lat: 34.1135167, lng: -117.872065 },
                  map: map,
                  title: 'United States'
              });

          }

      </script>

      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </body>
  </html>
