{% extends "home/header.html" %}
      <!-- Home slider -->
      {% block content %}
      {% load static %}
      <div class="main-wrapper bg-gray">
        <section class="about-us">
          <div class="container bg-white">
            <div class="row">
              <div class="col-md-12">               
                <h3 class="page_headers">Knowledge Library</h3>
                <div class="knowledgeLibrarymain">
                <div class="col-md-3">
                  <div class="knowledgeLibrary">
                      <div class="knowledgeLibraryImg">
                          <a href="https://www.slicer.org" target="_blank"><img src="{% static 'images/3DSlicer.png' %}" class="img-responsive"></a>
                      </div>
                      <div class="knowledgeLibraryTitle">
                        <h3><a href="https://www.slicer.org" target="_blank">3D Slicer</a></h3>
                      </div>
                       <div class="knowledgeLibraryDes">
                        <a href="https://www.slicer.org" target="_blank">An open source software platform for medical image informatics, image processing, and three-dimensional visualization.</a>
                      </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="knowledgeLibrary">
                      <div class="knowledgeLibraryImg">
                          <a href="https://escholarship.org" target="_blank"><img src="{% static 'images/eScholarship.png' %}" class="img-responsive"></a>
                      </div>
                      <div class="knowledgeLibraryTitle">
                        <h3><a href="https://escholarship.org" target="_blank">eScholarship®</a></h3>
                      </div>
                       <div class="knowledgeLibraryDes">
                        <a href="https://escholarship.org" target="_blank">The University of California’s Open Access policies extend the University’s public mission to share broadly — throughout California, the nation.</a>
                      </div>
                  </div>
                </div> 

                <div class="col-md-3">
                  <div class="knowledgeLibrary">
                      <div class="knowledgeLibraryImg">
                          <a href="http://annex.exploratorium.edu/imaging_station/index.php" target="_blank"><img src="{% static 'images/microscope-Imaging-Station.png' %}" class="img-responsive"></a>
                      </div>
                      <div class="knowledgeLibraryTitle">
                        <h3><a href="http://annex.exploratorium.edu/imaging_station/index.php" target="_blank">Microscope Imaging Station</a></h3>
                      </div>
                       <div class="knowledgeLibraryDes">
                        <a href="http://annex.exploratorium.edu/imaging_station/index.php" target="_blank">Provides a unique opportunity to explore the microscopic world.</a>
                      </div>
                  </div>
                </div> 

                <div class="col-md-3">
                  <div class="knowledgeLibrary">
                      <div class="knowledgeLibraryImg">
                          <a href="https://www.slicer.org" target="_blank"><img src="{% static 'images/national.jpg' %}" class="img-responsive"></a>
                      </div>
                      <div class="knowledgeLibraryTitle">
                        <h3><a href="https://www.slicer.org" target="_blank">National Eye Institute</a></h3>
                      </div>
                       <div class="knowledgeLibraryDes">
                        <a href="https://www.slicer.org" target="_blank">Vision research has led to major advances in the prevention and treatment of eye diseases and visual disorders.</a>
                      </div>
                  </div>
                </div> 

                <div class="col-md-3">
                  <div class="knowledgeLibrary">
                      <div class="knowledgeLibraryImg">
                          <a href="https://www.slicer.org" target="_blank"><img src="{% static 'images/3DSlicer.png' %}" class="img-responsive"></a>
                      </div>
                      <div class="knowledgeLibraryTitle">
                        <h3><a href="https://www.slicer.org" target="_blank">3D Slicer</a></h3>
                      </div>
                       <div class="knowledgeLibraryDes">
                        <a href="https://www.slicer.org" target="_blank">An open source software platform for medical image informatics, image processing, and three-dimensional visualization.</a>
                      </div>
                  </div>
                </div> 

                <div class="col-md-3">
                  <div class="knowledgeLibrary">
                      <div class="knowledgeLibraryImg">
                          <a href="https://www.slicer.org" target="_blank"><img src="{% static 'images/3DSlicer.png' %}" class="img-responsive"></a>
                      </div>
                      <div class="knowledgeLibraryTitle">
                        <h3><a href="https://www.slicer.org" target="_blank">3D Slicer</a></h3>
                      </div>
                       <div class="knowledgeLibraryDes">
                        <a href="https://www.slicer.org" target="_blank">An open source software platform for medical image informatics, image processing, and three-dimensional visualization.</a>
                      </div>
                  </div>
                </div> 

                <div class="col-md-3">
                  <div class="knowledgeLibrary">
                      <div class="knowledgeLibraryImg">
                          <a href="https://www.slicer.org" target="_blank"><img src="{% static 'images/3DSlicer.png' %}" class="img-responsive"></a>
                      </div>
                      <div class="knowledgeLibraryTitle">
                        <h3><a href="https://www.slicer.org" target="_blank">3D Slicer</a></h3>
                      </div>
                       <div class="knowledgeLibraryDes">
                        <a href="https://www.slicer.org" target="_blank">An open source software platform for medical image informatics, image processing, and three-dimensional visualization.</a>
                      </div>
                  </div>
                </div> 

                <div class="col-md-3">
                  <div class="knowledgeLibrary">
                      <div class="knowledgeLibraryImg">
                          <a href="https://www.slicer.org" target="_blank"><img src="{% static 'images/3DSlicer.png' %}" class="img-responsive"></a>
                      </div>
                      <div class="knowledgeLibraryTitle">
                        <h3><a href="https://www.slicer.org" target="_blank">3D Slicer</a></h3>
                      </div>
                       <div class="knowledgeLibraryDes">
                        <a href="https://www.slicer.org" target="_blank">An open source software platform for medical image informatics, image processing, and three-dimensional visualization.</a>
                      </div>
                  </div>
                </div> 
                </div>              
              </div>
            </div>
          </div>
        </section>
      </div>
      {% endblock %}