{% extends "home/header.html" %}
      <!-- Home slider -->
      {% block content %}
      {% load static %}
      <div class="main-wrapper bg-gray">
        <section class="about-us">
          <div class="container bg-white">
            <div class="row">
              <div class="col-md-12">               
                <h3 class="page_headers">Knowledge Library</h3>
                <div class="knowledgeLibrarymain">
                <div class="col-md-3">
                  <div class="knowledgeLibrary">
                      <div class="knowledgeLibraryImg">
                          <a href="https://www.slicer.org" target="_blank"><img src="{% static 'images/3DSlicer.png' %}" class="img-responsive"></a>
                      </div>
                      <div class="knowledgeLibraryTitle">
                        <h3><a href="https://www.slicer.org" target="_blank">3D Slicer</a></h3>
                      </div>
                       <div class="knowledgeLibraryDes">
                        <a href="https://www.slicer.org" target="_blank">An open source software platform for medical image informatics, image processing, and three-dimensional visualization.</a>
                      </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="knowledgeLibrary">
                      <div class="knowledgeLibraryImg">
                          <a href="https://escholarship.org" target="_blank"><img src="{% static 'images/eScholarship.png' %}" class="img-responsive"></a>
                      </div>
                      <div class="knowledgeLibraryTitle">
                        <h3><a href="https://escholarship.org" target="_blank">eScholarship®</a></h3>
                      </div>
                       <div class="knowledgeLibraryDes">
                        <a href="https://escholarship.org" target="_blank">The University of California’s Open Access policies extend the University’s public mission to share broadly — throughout California, the nation.</a>
                      </div>
                  </div>
                </div> 

                <div class="col-md-3">
                  <div class="knowledgeLibrary">
                      <div class="knowledgeLibraryImg">
                          <a href="http://annex.exploratorium.edu/imaging_station/index.php" target="_blank"><img src="{% static 'images/microscope-Imaging-Station.png' %}" class="img-responsive"></a>
                      </div>
                      <div class="knowledgeLibraryTitle">
                        <h3><a href="http://annex.exploratorium.edu/imaging_station/index.php" target="_blank">Microscope Imaging Station</a></h3>
                      </div>
                       <div class="knowledgeLibraryDes">
                        <a href="http://annex.exploratorium.edu/imaging_station/index.php" target="_blank">Provides a unique opportunity to explore the microscopic world.</a>
                      </div>
                  </div>
                </div> 

                <div class="col-md-3">
                  <div class="knowledgeLibrary">
                      <div class="knowledgeLibraryImg">
                          <a href="https://www.slicer.org" target="_blank"><img src="{% static 'images/national.jpg' %}" class="img-responsive"></a>
                      </div>
                      <div class="knowledgeLibraryTitle">
                        <h3><a href="https://www.slicer.org" target="_blank">National Eye Institute</a></h3>
                      </div>
                       <div class="knowledgeLibraryDes">
                        <a href="https://www.slicer.org" target="_blank">Vision research has led to major advances in the prevention and treatment of eye diseases and visual disorders.</a>
                      </div>
                  </div>
                </div> 

                <div class="col-md-3">
                  <div class="knowledgeLibrary">
                      <div class="knowledgeLibraryImg">
                          <a href="https://www.openanatomy.org" target="_blank"><img src="{% static 'images/Open Anatomy - Brain Right Hemisphere.jpg' %}"  class="img-responsive"></a>
                      </div>
                      <div class="knowledgeLibraryTitle">
                        <h3><a href="https://www.openanatomy.org" target="_blank">Open Anatomy Project</a>
                        </h3>
                      </div>
                       <div class="knowledgeLibraryDes">
                        <a href="https://www.openanatomy.org" target="_blank">
                          An ambitious project to fundamentally change the anatomy atlas through open data, community-based collaborative development, and free distribution of medical knowledge.
                        </a>
                      </div>
                  </div>
                </div> 

                <div class="col-md-3">
                  <div class="knowledgeLibrary">
                      <div class="knowledgeLibraryImg">
                          <a href="http://www.pcds.org.uk" target="_blank"><img src="{% static 'images/PCDS.jpg' %}" style="object-fit: scale-down;" class="img-responsive"></a>
                      </div>
                      <div class="knowledgeLibraryTitle">
                        <h3><a href="http://www.pcds.org.uk" target="_blank">Primary Care Dermatology Society
                        </a></h3>
                      </div>
                       <div class="knowledgeLibraryDes">
                        <a href="http://www.pcds.org.uk" target="_blank">Forum where GPs could exchange views on primary care dermatology, develop skills and progress clinical research.
                        </a>
                      </div>
                  </div>
                </div> 

                <div class="col-md-3">
                  <div class="knowledgeLibrary">
                      <div class="knowledgeLibraryImg">
                          <a href="https://scicrunch.org" target="_blank"><img src="{% static 'images/SciCrunch.jpg' %}"   class="img-responsive"></a>
                      </div>
                      <div class="knowledgeLibraryTitle">
                        <h3><a href="https://scicrunch.org" target="_blank">SciCrunch®
                        </a></h3>
                      </div>
                       <div class="knowledgeLibraryDes">
                        <a href="https://scicrunch.org" target="_blank">A data sharing and display platform. Anyone can create a custom portal where they can select searchable subsets of hundreds of data sources, brand their web pages and create their community.
                        </a>
                      </div>
                  </div>
                </div> 

                <div class="col-md-3">
                  <div class="knowledgeLibrary">
                      <div class="knowledgeLibraryImg">
                          <a href="https://www.nlm.nih.gov" target="_blank"><img src="{% static 'images/3DSlicer.png' %}" class="img-responsive"></a>
                      </div>
                      <div class="knowledgeLibraryTitle">
                        <h3><a href="https://www.nlm.nih.gov" target="_blank">U.S. National Library of Medicine
                        </a></h3>
                      </div>
                       <div class="knowledgeLibraryDes">
                        <a href="https://www.nlm.nih.gov" target="_blank">
                          The Library started as a shelf of books in the Surgeon General’s office in 1836 but has grown to a collection of millions of print and electronic resources.
                        </a>
                      </div>
                  </div>
                </div> 
                </div>              
              </div>
            </div>
          </div>
        </section>
      </div>
      {% endblock %}