{% extends "home/header.html" %}>
<!-- Home slider -->
{% block content %}
{% load static %}
<div class="main-wrapper bg-gray">
  <section class="privacy-policy">
    <div class="container bg-white">
      <div class="row">
        <div class="col-md-12">
          <h3 class="AboutUsheader h2_blue">Privacy Policy</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Updated on November 4, 2018
          </p>
          <p>
            This Privacy Policy is applicable to Viodyne ("Company") and sets out the policy on the use of information
            on Viodyne websites (collectively "Site").
            The Company is committed to providing a safe Site for individuals who use the Site (“you” or “your”) and has
            implemented this Privacy Policy to demonstrate the Company’s firm commitment to your privacy.
          </p>
          <p>
            There may be links from the Site to other web sites, such as: links to third party websites
            that are provided as a convenience and are for informational purposes only; and links to social networks
            that allow you to share products and services from the Site. This Privacy Policy applies only to the
            Company’s Site and not to web sites of other companies or organizations to which the Company’s Site may be
            linked. The Company does not endorse and is not responsible for these linked websites and their Privacy
            Policies.
          </p>
          <p>
            Although you are not required to register to access the Site, you may voluntarily provide
            personal information when you visit certain sections of the Site. Your use of the Site signifies your
            acknowledgment and consent to the Privacy Policy and any changes in effect at the time of use.

          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Updates</h4>

          <p>The Privacy Policy may be updated from time to time. By using the Site after any updates
            you are agreeing that you are aware of the current Privacy Policy.</p>


          <h4>Personal Information</h4>

          <p> Personal Information is information about you that identifies you as an
            individual, for example, your name, address, e-mail address, or telephone number. The Site collects data
            that you voluntarily provide to sections of the Site such as, accounts for ordering convenience, feedback,
            questionnaires, surveys. The data may include, but is not limited to, name, company name, address, telephone
            number, email address,
            credit card information, order history.</p>


          <h4> Sensitive Personal Information</h4>

          <p> The Company does not collect and the Site is not intended to receive sensitive personal data such as;
            health, racial or ethnic origin, political opinions,
            religious or other beliefs, unless required by your local law.</p>


          <h4> Use of Data</h4>

          <p>Data gathered on the Site may be used: to create an account for the convenience of placing orders; to
            process your payments; to provide you with product offers; to enhance the Site experience; to provide
            Company promotions; to improve the Company’s range of products and services; to tailor the content of the
            Site; to evaluate candidates for employment opportunities. Candidate resume’s and data submitted for future
            employment may only be kept for the period of time (whichever is less): specified by you; after
            such future employment opportunity closes; governed by local law.
          </p>


          <h4> Promotion and Offers</h4>

          <p> You may request to receive Company promotions and product offers.
            At any time, you may change your preferences on the Site or by email.
          </p>


          <h4>Non-Disclosure of Information</h4>

         <p> The Company will not disclose personal information that you provide on the Site to any third parties except:
          to comply with legal requirements such as a law, regulation, warrant, subpoena or court order; to process
          credit card payments; and other services to fulfill product orders.</p>


         <h4> Cookies</h4>

          <p>The Site, in common with many web sites, may use standard technology called "cookies". You can disable cookies
          through your browser, however, certain areas of
           the Site may not function properly if you do so.
           </p>


         <h4> Data Rights</h4>
          <p>Applicable laws may permit you to request, if any, Personal Information provided by you, or you may opt to
          change or remove your personal data. To submit your request, Contact the Company.</p>


          <h4>Do Not Track (DNT)</h4>
          <p>The Company does not track across third party websites therefore does not respond
             to DNT messages.</p>


          <h4>Protection of Children Online</h4>

          <p>The Company does not knowingly collect personal information from children nor does the Company allow children
          to become registered users of the Site.</p>


          <h4>Commitment to Security</h4>

          <p>The Company takes the security of your personal data collected online seriously. The Company uses reasonable
          technical and practical measures to protect your data. When you submit personal data to the Site precautions
          are taken to protect your data both online and offline.
          </p>


          <h4>Storage of Data</h4>

          <p>Personal data you share with the Company is stored on database servers at the Company or hosted by third
          parties who have been required to observe the Privacy Policy.</p>


          <h4>Retention and Deletion of Data</h4>

          <p>Personal data is retained for the period necessary to fulfill the purposes outlined in the Privacy Policy and
          for accounting purposes such as tax requirements unless a longer retention period is required by law or legal
          purposes. When there is not an ongoing business need to retain your personal data, the Company: will delete
          the data; or anonymize the data, in the event the data is part of analytics, until such time deletion is
          possible.</p>


          <h4>Cross Border Transfers</h4>
          <p>
          Your personal data may be stored and processed outside your country where the Company has facilities or a
          service provider. When applicable you consent to the transmission of data outside of your country, including
          the United Sates of America, where data protection policies may differ from those in your country.
          </p>

         <h4> Acceptance of Privacy Policy </h4>
          <p>
          By using the Site you signify your acceptance of the Privacy Policy, and you adhere to the Terms on the Site.
          By submitting your information, you agree that it will be governed by the Privacy Policy.
            </p>

          <h4>Contact</h4>

          <p>For any questions related to the Privacy Policy Contact Us or write to the following address:
          </p>
          <h5>Viodyne</h5>
         <h5> 1430 S. Grand Ave., #283</h5>
         <h5> Glendora, CA 91740 USA</h5>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}