{% extends "home/header.html" %}>
<!-- Home slider -->
{% block content %}
{% load static %}
<div class="main-wrapper bg-gray">
  <section class="privacy-policy">
    <div class="container bg-white">
      <div class="row">
        <div class="col-md-12">
          <h3 class="AboutUsheader h2_blue">Terms & Conditions</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>These Terms of Use “Terms” apply to your use of the Viodyne websites, (collectively "Site").  By using the Site you agree to be bound by the Terms.
          </p>
          <p>
            The headings contained in the Terms are for reference purposes only and shall not in any way affect the meaning or interpretation of the Terms.
          </p>
          <h4>Updates</h4>
          <p>
            The Terms may be updated from time to time.  By using the Site after any updates 
            you are agreeing that you are aware of the current Terms.
          </p>
          <h4>Privacy Policy
          </h4>
          <p>
            Viodyne values your privacy.  The <a href={% url 'privacyPolicy' %}>Privacy Policy</a> is linked to this page and is a part of the Terms.

          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Updates</h4>

          <p>The Privacy Policy may be updated from time to time. By using the Site after any updates
            you are agreeing that you are aware of the current Privacy Policy.</p>


          <h4>Intellectual Property Rights
          </h4>

          <p> Intellectual Property such as but not limited to Viodyne™ and the Viodyne logo are trademarks of Viodyne.  Viodyne Intellectual Property inclusive of trademarks may not be used by any individual or entity for any product, service, or otherwise that is not a Viodyne product, service, or otherwise.
          </p>


          <h4> Intellectual Property Rights of Others
          </h4>

          <p> Intellectual Property of affiliates and entities linked to the Site are the property of their respective owners. 
          </p>

          <h4> Links </h4>

          <p>Any links to other websites is not an endorsement by Viodyne.  These links are provided to you with no warranties.  Viodyne is not responsible for the content of these linked websites.
          </p>


          <h4> Restrictions
          </h4>
          <p>You agree not to:
            </p>
          <p> 
              use the Site in any way that may cause harm to the Site, any individuals, or entities;
              engage in extracting data such as but not limited to hacking or mining from restricted areas of the Site;
              directly or indirectly, in any manner or in any medium whatsoever, make any false or misleading comments, writings, remarks or other expressions in relation to the Site, Viodyne, its offices, affiliates, officers, directors, employees, or any individual or entity involved in producing or distributing Viodyne products and services or otherwise damage the goodwill associated with Viodyne and its trademarks;
          </p>


          <h4>Disclaimer of Warranties
            </h4>
          <p>
              The Site is provided “as is”, Viodyne makes no representations or warranties whether expressed or implied, assumes no responsibility or liability of any kind for any errors or omissions, inaccuracies, incompleteness, timeliness, or otherwise related to the Site and any websites that are linked to the Site. 
          </p>
         <p> The content on the Site is not intended to be interpreted as advising you or as a substitute for professional medical advice, diagnosis, or treatment.  Viewing the Site does not constitute a physician-patient or attorney-client relationship.  Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay seeking it because of any content on this Site.
          </p>
          <p>Viodyne does not warranty the Site and Site servers, and will not be liable for any loss or damage caused by the Site and Site servers errors, unauthorized access, unavailability, viruses, or other items of a destructive nature.
            </p>

         <h4> Disclaimer of Liability
          </h4>

          <p>In no event shall Viodyne, its offices, affiliates, officers, directors, employees, or any individual or entity involved in producing or distributing Viodyne products and services be liable for any losses, injuries, or damages of any kind, including but not limited to consequential, direct, exemplary, incidental, indirect, punitive, special, or otherwise connected in any way to the Site including but not limited to the loss of business opportunity, data, use of the Site, pecuniary or non-pecuniary loss, or tort, whether under contract or not.
           </p>          

         <h4> Indemnification
         </h4>
          <p>
              You agree to defend, indemnify, and hold harmless to the fullest extent Viodyne, its offices, affiliates, officers, directors, employees, or any individual or entity involved in producing or distributing Viodyne products and services from and against any and all causes of action, claims, costs and expenses, damages, fines, liabilities, losses, and penalties including reasonable attorneys’ fee, incurred arising out of or in connection with the use of the Site.
          </p>


          <h4>Governing Law
            </h4>
          <p>Any disputes arising out of the use of the Site are subject to the laws of the United States of America.  You agree to submit any disputes arising out of or in connection with the Site to the jurisdiction of the courts located in the United States of America.
          </p>


          <h4>Severability
            </h4>

          <p>In the event any provision of the Terms is found partially or entirely invalid or unenforceable under applicable law, such invalid or unenforceable provision shall be replaced with a provision closest to the intent of the Terms.  The remaining provisions shall remain in full force.
            </p>


          <h4>Commitment to Security</h4>

          <p>The Company takes the security of your personal data collected online seriously. The Company uses reasonable
          technical and practical measures to protect your data. When you submit personal data to the Site precautions
          are taken to protect your data both online and offline.
          </p>
          
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}