{% extends "home/header.html" %}>
      <!-- Home slider -->
      {% block content %}
      {% load static %}

      <!-- Home slider -->
      <div class="main-wrapper bg-gray">
        <section class="about-us">
          <div class="container bg-white">            
            
            <div class="row custom-unsubscribe-p-color">
          
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">           
                  
                  <p>
                    Clicking the Unsubscribe button will remove your email address from our company e-mailing list and no future updates will be sent.
                  </p>
                  <p>
                    You will still receive transactional emails.  Visit us at viodyne.com from time to time for the latest product releases.
                  </p>

                  <p style="color: #12295d;">What you can count on with Viodyne
                  </p>

                  <p>
                    Unmatched customer service</p>
                    <p> Quality products</p>
                    <p>Production and stock to satisfy customer demand</p>
                    <p>Best prices</p>
                    <p>Customer education programs</p>
                    <p>Latest medical advances</p>

                   <p>To learn more about advancements in medical technology, connect with us on our social networks.</p>

                   <ul class="social">
                     
                        <li>
                          <a href="https://www.facebook.com/viodyne" target="_blank"><img class="soc icon" title="Facebook" src="{% static 'images/LogoFacebook.png' %}"></a>
                          <a title="Facebook" href="https://www.facebook.com/viodyne" target="_blank">Facebook</a>
                        </li>
        
                        <li>
                          <a href="https://www.pinterest.com/viodyne/" target="_blank"><img class="soc icon" title="Pinterest" src="{% static 'images/LogoPinterest.png' %}"></a>
                          <a title="Pinterest" href="https://www.pinterest.com/viodyne/" target="_blank">Pinterest</a>
                        </li>
        
                        <li>
                          <a href="https://twitter.com/Viodyne" target="_blank"><img class="soc icon" title="Twitter" src="{% static 'images/LogoTwitter.png' %}"></a>
                          <a title="Twitter" href="https://twitter.com/Viodyne" target="_blank">Twitter</a>
                        </li>
                       
                        <li >
                          <a href="https://www.linkedin.com/company/viodyne" target="_blank"><img class="soc icon" title="LinkedIn" src="{% static 'images/LogoLinkedlin.png' %}"></a>
                          <a title="LinkedIn" href="https://www.linkedin.com/company/viodyne" target="_blank">LinkedIn </a>
                        </li>
        
                        <li>
                          <a href="https://www.youtube.com/c/Viodyne" target="_blank"><img class="soc icon" title="YouTube" src="{% static 'images/LogoYouTube.png' %}"></a>
                          <a title="YouTube" href="https://www.youtube.com/c/Viodyne" target="_blank">YouTube</a>
                        </li>
                       
        
                    </ul>
                   <p>Your email address has been removed from our subscriber list.Stay in touch, visit our website and social networks from time to time.</p>
                               
                </div>
             
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <div class="map_1">                 
                    <div class="">
                    <img src="{% static 'images/Unsubscribe Image.png' %}">
                    </div>
                </div>
              </div>
          
            </div>
          </div>
         
      </section>
    </div>
    {% endblock %}