/*header css start*/

.top-header {
    margin-bottom: 5px;
}

.logo {
    margin-top: 5px;
}
.divsearch {
        margin-top: 23px;
}

.divsearch input {
    border-color: #12295d;
        height: 25px !important;
}

a#searchBtn {
    border-color: #12295d;
    color: #fff;
    height: 25px !important;
    font-size: 11px !important;
    background: linear-gradient(to bottom,#12295d , #3878ae);
    border: 0;
}

.cart_div {
    padding-top: 5px;

}

.cart_div a {
    color: #173374;
    font-size: 13px;
}

span#navTotal {
    padding: 5px 7px;
    background-color: #c70909;
}

.cart_bt {
    float: right;
}

.cart_bt p {
    color: #173374;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 0;
}

.bottom-header .navbar {
    min-height: 42px !important;
    height: 42px;
        margin-bottom: 0;
}

/*megha menu start*/
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}

.bg_Gradient {
    background: linear-gradient(to bottom,#12295d , #3878ae) !important;
    border: 0 !important;
        border-radius: 0px !important;
}

.bottom-header .navbar-inverse .navbar-nav>li>a {
   color: #ffffff;
    font-weight: 700;
    font-size: 17px;
}

.bottom-header .nav>li>a {
    position: relative;
    display: block;
        padding: 13px 25px;
}
.bottom-header .nav>li:first-child>a {
    padding-left: 12px;
}
.bg-no-overlay {

   background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;
    padding-top: 30px;
    padding-left: 40px;
}

h1.sliderText {
        line-height: 68px;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 1px 1px 1px #000;
}

.itemSlider img {
    width: 100%;
}
.itemSlider .lead {
    font-size: 15px;
    margin-top: 20px;
}

.itemSlider .lead {
    font-size: 15px;
    color: #29588d;
    margin-top: 20px;
    font-weight: 700;
}
.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 30px 30px;
    width: 100%;
    position: relative;
}
 .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center;     margin: 0 32px; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst {     right: 0;
    background: transparent;
    font-size: 40px; }
 .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {    pointer-events: none;
    background: transparent;
    font-size: 40px; }

 .main-wrapper.bg-gray {
    background: #eceef3;
}
.bg-white {
    background: #fff;
}

a.leftLst i.fa.fa-angle-left {
    font-size: 40px;
}

.box-img img {
        width: 100%;
    border: 1px solid #000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.imgDes {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
       background-color: rgba(0, 0, 0, 0.8);
}

.box-img {
    position: relative;
}

.box-img-title {
    color: #337ab7;
    font-size: 26px;
    text-transform: uppercase;
    padding-left: 30px;
    font-weight: 700;
}

.box-img-subtitle {
    font-size: 14px;
    color: #fff;
    padding-left: 30px;
    text-transform: uppercase;
}


.border-bt {
    border-bottom: 2px solid #000;
    padding-bottom: 30px;
}

.section-box-ten{
        height: 250px;
        background: radial-gradient(#6e6e6e,#2f2f2f);
        background: -webkit-radial-gradient(#6e6e6e,#2f2f2f);
        background: -moz-radial-gradient(#6e6e6e,#2f2f2f);
        color: #fff;
        position: relative;
        overflow:hidden;
    }
    .section-box-ten figure {
           position: absolute;
    text-align: left;
    padding: 10px 19px 19px 19px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.71);
    bottom: -73%;
    transition: ease-in-out .5s;
    }
    .section-box-ten:hover figure {
        bottom: 0;

    }
    .section-box-ten figure h3{
        margin: 0;
             padding-bottom: 5px;
    }
   .section-box-ten img {
    height: 100%;
    width: 100%;
}

.section-box-ten figure p {
    padding-left: 30px;
    padding-top: 10px;
}

.col-half-offset {
    width: 19.666667%;
}
.viodyneBoxInner img {
    width: 100%;
    border: 1px solid #000;
    margin-top: 20px !important;
}

.viodyneBoxes {
    padding-top: 30px;
    overflow: hidden;
}

.viodyneBoxInnerTitle {
       background: #c2d7e7;
    padding: 3px;
    text-align: center;
    color: #21477a;
    font-weight: 700;
    border: 1px solid #000;
    border-top: 0px;
    box-shadow: 0 10px 6px -6px #1f4276;
}

.viewMore a {
    background: #1e4478;
    padding: 3px 15px;
    color: #fff;
    border-bottom-right-radius: 16px;
}

.footer_Links a {
       color: #12295d;
    display: block;
    font-size: 15px;
    font-weight: 100;
    line-height: 25px;
}

.footer_Links h5 {
    margin-bottom: 5px;
    font-size: 20px;
}

.top-footer {
    background: #a0bbe1;
    color: #12295d;
    padding: 20px 0;
    margin-top: 0;
}

ul.social {
    padding: 0;
}

ul.social li {
    list-style: none;
    display: inline-block;
    padding: 6px 20px 15px 0;
}

ul.social li img {
    width: 20px;
}

ul.social li a {
    color: #12295d;
}

.social-link h5 {
    margin-bottom: 5px;
    font-size: 20px;
}

.viodyneBox2Inner {
    padding-bottom: 50px;
}
#footer_bottom {
    background: #12295d;
    height: auto;
    padding: 5px;
    text-align: center;
}

.footer_text {
    color: #fff;
    font-family: Arial;
    font-size: 11px;
    display: block;
    margin-top: 10px;
    text-align: center;
}

.backtotop {
    height: 30px;
    width: 70px;
    display: inline-block;
    text-align: center;
    padding-top: 11px;
    -webkit-clip-path: polygon(50% 30%, 100% 60%, 100% 100%, 0 100%, 0 60%);
    position: absolute;
    left: 50%;
    bottom: 64px;
    margin-left: -35px;
}

.termUse {
    padding: 10px 0 0 0;
}

.footer {
    position: relative;
}


div#footer_bottom a:last-child {
    border: 0px;
}
.backtotop a {
    font-size: 9px;
    color: white;
}

div#footer_bottom a {
    color: #fff;
    border-right: 1px solid #fff;
    padding: 0 10px;
}
/*about page css start*/
.aboutusImg_con {
    padding-top: 20px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 5px;
    margin-left: 15px;
}


.AboutUsheader {
    padding: 15px;
    font-family: Montserrat, sans-serif;
    color: #12295d;
    font-size: 24px;
    font-weight: 500;
}
.tab_about_content {
    padding: 20px;
    border: 1px solid rgb(151, 151, 151);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
       -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topright: 5px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
   border: 1px solid rgb(151, 151, 151);
       border-bottom-color: transparent;
           border-top: thick #3a93cf solid;
}

.tab_about_menu > li a {
        border-top: 5px solid transparent;
 }

.tab_about_menu {
    border-bottom: none;
}

.tab_about_menu > li a:hover {

    border-top: thick #3a93cf solid;
    box-sizing: border-box;

}

.tab_about_content img {
    height: 170px;
    float: right;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 5px;
}

.company-over {
    margin: 3% 5%;
}
.company-over h2 {
    color: #0b6bb5;
    font-size: 16px;
}

ul.about-usUl li {
    color: #0b6bb5;
}

ul.about-usUl li span {
    color: #333333;
}

section.about-us {
    margin-bottom: 30px;
}

li.testimonialsTab.active a {
      color: red !important;
}

.testimonials {
    color: red;
}

.testimonialsStar .checked {
    color: orange;
}
.testimonialsStar span {
    color: #000;
}

.testimonialsBox {
    margin: 30px 0;
    padding: 20px 10px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
}
.testimonialsStar {
    margin-bottom: 10px;
}

.company-over img {
    width: 100%;
}

.testimonialsForm {
    clear: both;
    margin-top: 40px;
    display: inline-block;
}

.testimonialsForm textarea {
    width: 100%;
}

.testimonialsSend .btn {
    padding: 10px 40px;
    color: #ffffff !important;
    text-transform: uppercase;
        border-radius: 5px !important;
}

.testimonialsSend {
    text-align: right;
}
/*about page css end*/

/*responsive css start*/

@media only screen and (max-width: 767px) {
  .col-half-offset {
    width: 100%;
  }

h1.sliderText {
    line-height: 48px;
    font-size: 25px;

}

.cart_bt {
    float: none;
    margin-top: 10px;
}

.MoNavber {
    background: #244f84;
}

.viodyneBoxInner {
    margin-bottom: 30px;
}


}


@media only screen and (max-width: 991px) {
.viodyneBoxInner {
    margin-bottom: 30px;
}
.col-half-offset{width: 100%;}

}

.page_headers {
    font-family: Montserrat, sans-serif !important;
    color: #12295d !important;
    font-size: 24px !important;
    font-weight: 500 !important;
}





.left{
    margin-left: 5%;
}



.recapt{
    top: 30px;
    position: relative;
}

.btn_1 {
    margin-top: 40px;
}

.btn{display: inline-block;
    padding: 8px 12px;
    margin-left:17px;
    border-radius:4px !important;
}
.btn1{display: inline-block;
    padding: 8px 12px;
    margin-left:44px;
    border-radius:4px !important;
}
.map_1{
    width: 100%;
    height: 400px;
    margin-top: 25px;
    overflow: hidden;
    position: relative;
}

.top{
    margin-top: 40px;
}

.top1{
    margin-top: 15px;
    padding: 24px;
}

.tel_text{
    font-family: helvetica;
    font-size: 20px;
    color: #7c7c7c;
}

.add p{
    font-family: helvetica;
    font-size: 13px;
    color: #212221;
}

.add h4{
    font-family: helvetica;
    font-size: 20px;
    color: #12295d;
}

.s_icon1{
    float: left;
    width: 50%
    height: 150px;
    font-family: helvetica;
    font-size: 13px;
    color: #7c7c7c;
    display: block;
}

.s_icon2{
    float: left;
    width: 50%
    height: 150px;
    position: relative;
    font-family: helvetica;
    font-size: 13px;
    color: #7c7c7c;
    top: 40px;
}

.soc {
    width: 20px;
    margin-right: 5px;
}

.custom-a-tag {
    r: white;
    color: white;
}
#joinUSbtn:hover{
    color: #fff !important;
}






